* {
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 114px;
    gap: 300px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);

}

#logo1{
    width: 120px;
    height: 119px;
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    width: 450px;
    height: 61px;

    background: #FFFFFF;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

#search p{
    width: 398px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(96, 96, 96, 0.6);
}
.box{
    padding: 80px 114px 78px 114px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.box img{
    min-height: 192px;
    min-width: 192px;
    align-items: center;
    margin: 24px;

}

.container{
    min-width: 240px;
    min-height: 240px;
    border-radius: 16px;
    margin: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
}

#tablito{
    grid-area: 1 / 1 / 3
}

#cbon{
    grid-area: 1 / 3 / 3
}

#info{
    padding-left: 24px;
    gap: 8px;

    width: 270px;
    height: 87px;
}

#info h1{
    width: 270px;
    height: 39px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #292929;
}

#info p{
    width: 270px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #606060;
}

#price{
    margin-left: 20px;
    padding: 8px;
    gap: 10px;

    width: 105px;
    height: 45px;
    
    background: rgba(249, 199, 191, 0.5);
    
    border-radius: 8px;
    text-align: center
}

#price p{
    width: 89px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 114px;
    gap: 323px;
    background: #F2F2F2;
}

#icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 253px;
    height: 35px;
}

#logo2{
    width: 60px;
    height: 59.02px;
}

footer p{
    width: 253px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #292929;
}